@layout MainLayout
@page "/leaderboard"

@inject IMultiplayerGameService Game

<div class="index-content">
    <div class="leaderboard-container">
        <h1 class="leaderboard-title">THE LEADERBOARD</h1>
        <h2 class="leaderboard-subtitle">Only Twitter users will be shown on the leaderboard.</h2>
        <div class="leaderboard">
            <ul>
                <li class="lb-header lb-position">Position</li>
                <li class="lb-header lb-user">Name</li>
                <li class="lb-header lb-points">Number of wins</li>
                @foreach (var player in Board.Players)
                {
                    <li class="lb-position"><span>@player.Position.ToString("00")</span></li>
                    <li class="lb-user"><span>@player.Username</span></li>
                    <li class="lb-points">@player.Score</li>
                }
                @foreach (var player in Board.Players)
                {
                    <li class="lb-position"><span>@player.Position.ToString("00")</span></li>
                    <li class="lb-user"><span>@player.Username</span></li>
                    <li class="lb-points">@player.Score</li>
                }
                @foreach (var player in Board.Players)
                {
                    <li class="lb-position"><span>@player.Position.ToString("00")</span></li>
                    <li class="lb-user"><span>@player.Username</span></li>
                    <li class="lb-points">@player.Score</li>
                }
                @foreach (var player in Board.Players)
                {
                    <li class="lb-position"><span>@player.Position.ToString("00")</span></li>
                    <li class="lb-user"><span>@player.Username</span></li>
                    <li class="lb-points">@player.Score</li>
                }
                @foreach (var player in Board.Players)
                {
                    <li class="lb-position"><span>@player.Position.ToString("00")</span></li>
                    <li class="lb-user"><span>@player.Username</span></li>
                    <li class="lb-points">@player.Score</li>
                }
            </ul>
        </div>
        <div class="leaderboard-buttons">
            <div class="custom-button">
                <a class="custom-button-link" href="/">play again</a>
            </div>
        </div>
    </div>
</div>

<CookiesBanner />

@code
{
    public LeaderboardDto Board { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.Board = new LeaderboardDto
        {
            Players = new List<LeaderboardEntryDto>
        {
                new LeaderboardEntryDto{ Username = "-", Score = 0 }
            }
        };

        this.Board = await Game.GetLeaderboard();
    }
}
